old_versions/
notes/
*~
training/
latest
__pycache__/
.gitignore
notes.org
.ipynb_checkpoints/
auxiliary/
setup.cfg
related_notes/
unrelated_notes/
mlp/
logs/
findgs/
run
hadamard*.png
.codex
game/
paper/
.claude
